body {
    font-family: Arial, sans-serif;
    background-color: #DDC5EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #FFF099;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    color: #333;
}

input[type="number"] {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#play-button {
    background-color: #DDC5EB;
    color: #333;
}

button#play-button:disabled {
    background-color: #c4a3d0;
    cursor: not-allowed;
}

button#reset-button {
    background-color: #DDC5EB;
    color: #333;
}

#result-area {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#chance-area {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

#history-area {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

#answer-area {
    margin-top: 20px;
    font-size: 18px;
    color: red;
    font-weight: bold;
}